*{
    margin: 0;
    padding: 0;
    border: none;
}

.pDiv{
    
    background-color: gray;
    padding: 1%;
    margin: 1%;
}

.pDiv img{
    background-size: cover;
    width: auto;
}

.product_PgCont{

    padding: 1%;
    margin-top: 5%;
    background-color:bisque;
}
.product_PgCont .row{padding: 1%;}
.product_PgCont,.col-8,.col-4{
        border: 1px gray solid;
}
.product_PgCont img{
    width: 100%;
}
.product_PgCont h2,h3{
    margin-left: 2%;
    margin-top: 2%;
}
.product_PgCont h2{
    font-size: 5em;
}
.product_PgCont h3{
    font-size: 2em;
}